* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
*, ::after, ::before 
{
    box-sizing: border-box;
}
body 
{
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    color: #777777;
    line-height: 1.7em;
    font-weight: 400;
}
.page-wrapper 
{
    position: relative;
    margin: 0 auto;
    width: 100%;
    min-width: 300px;
}
.main-header 
{
    position: absolute;
    z-index: 999;
    width: 100%;    
    animation-duration: 500ms;
}
.main-header .header-top 
{
    position: relative;
}
.header-top 
{
    background-color: #2c724f;
}
.auto-container 
{
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}
.main-header .header-top .inner-container 
{
    position: relative;
}
.clearfix::after 
{
    display: block;
    clear: both;
    content: "";
}
.main-header .header-top .top-left 
{
    position: relative;
    float: left;
    padding: 17px 0px;
    padding-right: 50px;
}
.main-header .header-top .info-list 
{
    position: relative;
}
ul, li 
{
    list-style: none;
    padding: 0px;
    margin: 0px;
}
/*.main-header .header-top .info-list li .icon 
{
    position: absolute;
    left: 0px;
    top: 1px;
    color: #ffffff;
    font-size: 16px;
    line-height: 1em;
}*/
a 
{
    text-decoration: none;
    cursor: pointer;
}
.main-header .header-top .info-list li a 
{
    position: relative;
    color: #ffffff;
    font-size: 14px;
    padding-left: 25px;
    font-weight: 400;
}
.main-header .header-top .info-list li 
{
    position: relative;
    color: #ffffff;
    font-size: 14px;
    margin-right: 45px;
    display: inline-block;
}
.main-header .header-top .top-right 
{
    position: relative;
    padding: 17px 0px;
}
.pull-right 
{
    float: right;
}